@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
@import url(reset.css);
@import url(FM_part.css);
@import url(modal.css);


:root {
    /* colors primary*/
    --clr-orange: hsl(26, 100%, 55%);
    --clr-pale-orange: hsl(25, 100%, 94%);
    /* colors neutral */
    --clr-very-dark-blue:  hsl(220, 13%, 13%);
    --clr-dark-grayish-blue: hsl(219, 9%, 45%);
    --clr-grayish-blue: hsl(220, 14%, 75%);
    --clr-light-grayish-blue: hsl(223, 64%, 98%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-black: hsla(219, 9%, 45%, 0.75);
  

    /* fonts */
    --ff-primary: 'Kumbh Sans', sans-serif;
    --fw-400: 400;
    --fw-700: 700;
    /* font-size: 16px; */
}

/* typography */
html {
    /* 62.5% of 16px browser font size is 10px */
    font-size: 62.5%;
    height: 100%;
}

body {
    /* It returns default value of browser (16px) */
    font-size: 1.6em;
    min-height: 100%;
}

p {
    line-height: 1.5;
}

/* typography end */

body {
    font-family: var(--ff-primary);
    font-weight: var(--fw-400);
    font-size: 1.6rem;
    background-color: var(--clr-white);  
    display: flex;
    justify-content: center;
    align-items: center;
}

/*---------------------Mobile layout-------------------------*/
.grid_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'header_container'
        'imgo_gallery'
        'main_container'
        'attribution';
    /*min-width: 37.5rem;*/
}

/* style 1st component - mobile */
.header_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'header_cont'
        'header_modal_cart';
    padding: 1rem;
    position: relative;
    /*border: 2px solid green;*/
}

.header_logo {
    display: none;
}

.header_cont {
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr;
    grid-template-areas:
        'header_nav header_logo_container purchase';
    gap: 0.5rem;
    justify-items: start;
    position: relative;
    /*border: 2px solid green;*/
}

.hamburger_icon {
    align-self: center;
    margin: 0 0 0 1rem;
    /*border: 2px solid green;*/
}

.header_logo_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'logo_icon';
    align-self: center;
    margin: 0 0 0 1rem;
    /*border: 2px solid green;*/
}

.logo_icon {
    width: 100%;
}

.purchase {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'cart_container purchase_logo_container';
    justify-items: center;
    width: 70%;
    margin: 0 0 0 12vw;
    /*border: 2px solid green;*/
}

.cart_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'product_order'
        'cart_icon_1';
    position: relative;
    width: 85%;
    justify-items: center;
    /*border: 2px solid green;*/
}

.product_order {
    display: none;
    text-align: center;
    width: 35%;
    position: absolute;
    border-radius: 35%;
    background-color: var(--clr-orange);
    font-size: 2.2vw;
    color: var(--clr-white);
    padding: 0.2rem;
    margin: 0 0 0 1.5rem;
}

.cart_icon_1 {
    width: 65%;
    margin-inline: auto;
    /*border: 2px solid green;*/
}

.purchase_logo_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'purchase_logo';
    justify-items: center;
    /*border: 1px solid green;*/
}

.purchase_logo {
    width: 65%;
}

/* 2nd modal */
.header_navLinks {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: hsl(219, 9%, 45%);
    background-color: hsla(219, 9%, 45%, 0.75);
}

.header_navLinks {
    background-color: var(--clr-white);
    width: 65%;
    min-height: 100%;
    padding: 3.3rem 0 0 3.3rem;
    margin: 0 0 20rem 0;
}

.close_icon {
    padding: 0 0 10vw 0;
}

[class*='header_navLinks_'] {
    font-weight: var(--fw-700);
    color: var(--clr-very-dark-blue);
    text-decoration: none;
    display: block;
    padding: 0 0 2.5rem 0;
}

/* 1st modal */
.header_modal_cart {
    display: none;
    position: absolute;
    z-index: 1;
    justify-self: end;
    max-width: 30rem;
    margin: 3rem 3rem 0 0;
    background-color: var(--clr-white);
    border-radius: 0.7rem;
    /*border: 1px solid green;*/
}

.modal_cart_container {
    font-weight: var(--fw-700);
    padding: 2rem;
}

.modal_cart_box {
    display: none;
    padding: 2rem;
}

.cart_img {
    width: 15%;
    border-radius: 0.7rem;
    /*border: 2px solid green;*/
}

.cart_container_text {
    padding: 0 0 0 1rem;
    font-size: 1.2rem;
    /*border: 2px solid green;*/
}

.cart_img, .cart_container_text {
    float: left;
    /*border: 2px solid green;*/
}

.bin {
    float: right;
    padding: 2rem 0 0 0;
    margin: 0 0 0 1rem;
    /*border: 2px solid green;*/
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
.cart_title {
    color: var(--clr-dark-grayish-blue);
    font-weight: var(--fw-700);
}

.dollar_icon_3, .one_piece_price, .multip, .operand {
    color: var(--clr-dark-grayish-blue);
    font-weight: var(--fw-700);
}

.dollar_icon_4, .total {
    font-weight: 900;
}

.checkout {
    display: none;
    font-size: 1.6rem;
    text-align: center;
    padding: 1.2rem;
    margin: 0 2rem 3rem 2rem;
    border-radius: 0.7rem;
    background-color: var(--clr-orange);
    color: var(--clr-pale-orange);
    font-weight: var(--fw-700);
    /*border: 2px solid green;*/  
}

.empty_cart {
    display: none;
    color: var(--clr-dark-grayish-blue);
    font-weight: var(--fw-700);
    font-size: 1.4rem;
    text-align: center;
    max-width: 30rem;
    margin: 6rem 8rem 6rem 8rem;
}

.follow {
    display: none;
    color: var(--clr-dark-grayish-blue);
    font-weight: var(--fw-700);
    font-size: 1.4rem;
    text-align: center;
    width: 30rem;
    margin: 6rem 8rem 6rem 0rem;
}
  
/* style 2nd component - mobile */
.imgo_gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'fullSize_image fullSize_image'
        'prev next'
        'thumbnail_images_container thumbnail_images_container';
    position: relative;
}

.fullSize_image {
    display: none;
}

.prev, .next {
    position: absolute;
    top: 55%;
    width: auto;
    padding: 3vw;
    margin-top: -3rem;
    background-color: var(--clr-white);
    border-radius: 50%;
    justify-items: center;
}

.prev {
    left: 4vw;
  }

  .arrow_prev {
    width: 2.2vw;
  }

.next {
    right: 4vw;
  }

  .arrow_next {
    width: 2.2vw;
  }

.thumbnail_images_container {
    display: none;
}

/* style 3rd component - mobile */
.main_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'company_name'
        'product_name_title'
        'product_description'
        'prices'
        'quantity_container'
        'order_container';
    gap: 1.5rem;
    padding: 2rem;
}

.company_name {
    font-size: 1.2rem;
    font-weight: var(--fw-700);
    color: var(--clr-orange);
    text-transform: uppercase;
}

.product_name_title {
    font-size: 2.6rem;
    font-weight: var(--fw-700);
    color: var(--clr-very-dark-blue);
}

.product_description {
    color: var(--clr-dark-grayish-blue);
}

.prices {
    display: grid;
    grid-template-columns: 0.5fr 0.3fr 1fr;
    grid-template-areas:
        'current_price discount old_price';
    gap: 1.5rem;
}

.current_price {
    font-size: 2.6rem;
    font-weight: var(--fw-700);
    color: var(--clr-very-dark-blue);
    justify-self: start;
    align-self: center;
    /*border: 2px solid green;*/
}

.discount {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'percentage percentage_icon';
    justify-self: center;
    align-self: center;
    border-radius: 0.7rem;
    background-color: var(--clr-pale-orange);
    color: var(--clr-orange);
    font-weight: var(--fw-700);
    padding: 0.2rem 0.1rem 0.2rem 0.5rem;
    /*border: 2px solid green;*/
}

.old_price {
    color: var(--clr-grayish-blue);
    font-weight: var(--fw-700);
    justify-self: end;
    align-self: center;
    /*border: 2px solid green;*/
}

.sr-only {
    display: none;
}

.quantity_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        'less_products product_quantity more_products';
    align-items: center;
    padding: 1.2rem 0 1.2rem 0;
    border-radius: 0.7rem;
    background-color: var(--clr-light-grayish-blue);
    /*border: 2px solid green;*/
}

.less_products {
    justify-self: start;
    padding: 0 0 0 2rem;
}

.product_quantity {
    justify-self: center;
    font-weight: var(--fw-700);
}

.more_products {
    justify-self: end;
    padding: 0 2rem 0 0;
}

.order_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'order';
    padding: 1.2rem 0 1.2rem 0;
    align-items: center;
    justify-items: center;
    border-radius: 0.7rem;
    background-color: var(--clr-orange);
    /*border: 2px solid green;*/
}

.order {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-areas:
        'cart_icon_2 text';
    justify-items: center;
    color: var(--clr-pale-orange);
    /*border: 1px solid green;*/
}

.cart_icon_2 {
    align-self: center;
    justify-self: center;
    width: 40%;
}

.text {
    justify-self: start;
}

/* style 4th component - mobile */
/* 4th component styled in external stylesheet */

/*---------------------Desktop layout-------------------------*/
@media screen and (min-width: 48rem) {
/*
    * {
        display: none;
    } */

.grid_container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'header_container header_container'
        'imgo_gallery main_container'
        'attribution attribution';
    gap: 4rem;
    margin: 0 5rem 0 5rem;
    position: relative;
    /*border: 1px solid green;*/
}
   
/* style 1st component - desktop */  
.header_container {
    display: grid;
    grid-template-columns: 0.2fr 1.5fr 1fr;
    grid-template-areas:
       'header_logo header_navLinks header_cont';
    gap: 1.5rem;
    border-bottom: 1px solid var(--clr-grayish-blue);
    /*border: 2px solid green;*/
}

.header_logo {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'logo';
    align-items: center;
    width: 12rem;
    margin: 0 0 0 -1rem;
    /*border: 2px solid green;*/
}

.logo {
    width: 100%;
    /*border: 2px solid green;*/
}

.header_navLinks {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'header_navLinks';
    position: relative;
    justify-items: center;
    align-self: end;
    background-color: transparent;
    max-width: 40rem;
    margin: 0 0 -1.2rem 0;
    /*border: 2px solid green;*/
}

.header_navLinks {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
        'header_navLinks_collections header_navLinks_men header_navLinks_women header_navLinks_about header_navLinks_contact';
    gap: 0.5rem;
    background-color: transparent;
    justify-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
    /*border: 2px solid green;*/
}

[class*='header_navLinks_'] {
    font-size: 1.1rem;
    align-self: center;
    color: var(--clr-dark-grayish-blue);
    padding: 0;
    margin: -1.6rem 0 0 0;
    /*border: 2px solid green;*/
}

/* lines under nav */
.header_navLinks_collections {
    position: relative;
} 

.header_navLinks_collections::after {
    content: '';
    position: absolute;
    width: 100%;
    display: block;
    height: 0.4rem;
    background-color: var(--clr-orange);
    top: 4rem;
    left: 0;
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}

.header_navLinks_collections:hover::after {
    transform: scale(1, 1);
}

.header_navLinks_men {
    position: relative;
} 

.header_navLinks_men::after {
    content: '';
    position: absolute;
    width: 100%;
    display: block;
    height: 0.4rem;
    background-color: var(--clr-orange);
    top: 4rem;
    left: 0;
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}

.header_navLinks_men:hover::after {
    transform: scale(1, 1);
}

.header_navLinks_women {
    position: relative;
} 

.header_navLinks_women::after {
    content: '';
    position: absolute;
    width: 100%;
    display: block;
    height: 0.4rem;
    background-color: var(--clr-orange);
    top: 4rem;
    left: 0;
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}

.header_navLinks_women:hover::after {
    transform: scale(1, 1);
}

.header_navLinks_about {
    position: relative;
} 

.header_navLinks_about::after {
    content: '';
    position: absolute;
    width: 100%;
    display: block;
    height: 0.4rem;
    background-color: var(--clr-orange);
    top: 4rem;
    left: 0;
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}

.header_navLinks_about:hover::after {
    transform: scale(1, 1);
}

.header_navLinks_contact {
    position: relative;
} 

.header_navLinks_contact::after {
    content: '';
    position: absolute;
    width: 100%;
    display: block;
    height: 0.4rem;
    background-color: var(--clr-orange);
    top: 4rem;
    left: 0;
    transform: scale(0, 1);
    transition: transform 0.3s ease;
}

.header_navLinks_contact:hover::after {
    transform: scale(1, 1);
}

.close_icon {
    display: none;
}

.header_cont {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        'purchase';
    justify-self: end;
    margin: 0 -1.5rem 0 0;
    width: 15rem;
   /*border: 2px solid red;*/
}

.hamburger_icon {
    display: none;
}

.header_logo_container {
    display: none;
}

.purchase {
    justify-items: end;
    justify-self: end;
    gap: 0.5rem;
    margin: 0;
    width: 100%;
    /*border: 2px solid blue;*/
}

.cart_container {
    justify-self: end;
    width: 7rem;
    /*border: 2px solid green;*/
}

.product_order {
    display: none;
    max-width: 1.4rem;
    font-size: 1rem;
    padding: 0.056vw;
    top: 80%;
    left: 45%;
    margin-inline: auto;
    /*border: 1px solid green;*/
}

.cart_icon_1 {
    width: 45%;
    cursor: pointer;
    /*border: 1px solid green;*/
}

.purchase_logo_container {
    width: 7rem;
    /*border: 1px solid green;*/
}

.purchase_logo {
    width: 6rem;
    cursor: pointer;
    /*border: 1px solid green;*/
}

.purchase_logo:hover {
    border: 2px solid var(--clr-orange);
    border-radius: 50%;
}
 /* 1st modal */
.header_modal_cart {
    display: none;
    justify-self: end;
    margin: 8rem 0 0 0;
    box-shadow: 0px 20px 26px rgba(0, 0, 0, 0.13);
    /*border: 2px solid green;*/
}

.cart_container_text {
    font-size: 1.2rem;
    /*border: 2px solid green;*/
}

.bin {
    padding: 1rem 0 0 0;
}

.checkout {
    font-size: 1.4rem;
}
   
/*style 2nd component - desktop */
.imgo_gallery {
    grid-template-columns: 1fr;
    grid-template-areas:
        'fullSize_image'
        'thumbnail_images_container';
    justify-self: end;
    align-self: start;
    margin: 0 2rem 0 0;
    max-width: 50rem;
    /*border: 1px solid green;*/
}

.prev {
    display: none;
}

.next {
    display: none;
}

.fullSize_image {
    padding: 3rem;
    justify-items: center;
    align-self: start; /*end*/
    /*border: 2px solid green;*/
}

[class*='img_product_'] {
    width: 50rem;
    border-radius: 1.2rem;
}

[class*='img_product_']:hover {
    cursor: pointer;
}

.thumbnail_images_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        'thumbnail_image_1 thumbnail_image_2 thumbnail_image_3 thumbnail_image_4';
    gap: 2.5rem;
    align-self: start;
    padding: 0 3rem 0 3rem;
    /*border: 1px solid green;*/
}

[class*='thumbnail_image_'] {
    margin: 0.1rem;
}

[class*='img_product_thumbnail_'] {
    align-self: center;
    justify-self: center;
}

[class*='img_product_thumbnail_']:hover {
    opacity: 0.5;
    cursor: pointer;
}

.border_line {
    border-radius: 1.4rem;
    border: 3.5px solid var(--clr-orange);
}

.active {
    opacity: 0.5;
}
  
/*style 3rd component - desktop */
.main_container {
    grid-template-columns: 0.5fr 1fr;
    grid-template-areas:
        'company_name company_name'
        'product_name_title product_name_title'
        'product_description product_description'
        'prices prices'
        'quantity_container order_container';
    gap: 1rem;
    justify-self: start;
    max-width: 50rem;
    padding: 3rem;
    /*border: 1px solid green;*/
}

.company_name {
    margin: 2rem 0 0 0;
}

.product_name_title {
    font-size: 3.4rem;
}

.prices {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'current_price discount'
        'old_price old_price';
    gap: 0;
    justify-self: start;
    margin: 0 0 4rem 0;
}

.old_price {
    justify-self: start;
}

.quantity_container {
    margin: 0 0 8rem 0;
    /*border: 1px solid green;*/
}

.less_products:hover {
    cursor: pointer;
    opacity: 0.6;
}

.more_products:hover {
    cursor: pointer;
    opacity: 0.6;
}

.order_container {
    margin: 0 0 8rem 0;
    /*border: 1px solid green;*/
}

.order_container:hover {
    cursor: pointer;
    opacity: 0.6;
}

/*style 4th component - desktop */
/* 4th component styled in external stylesheet */

/* 3rd modal style */
/* change svg image fill property color */
/* https://stackoverflow.com/questions/22252472/how-can-i-change-the-color-of-an-svg-element#answer-53336754 */
.modal_close_icon:hover {
    filter: invert(48%) sepia(72%) saturate(801%) hue-rotate(346deg) brightness(104%) contrast(102%);
}

.modal_arrow_prev {
  padding: 1.3rem 1.3rem 1rem 1.3rem;
}

.modal_arrow_next {
    padding: 1.3rem 1.3rem 1rem 1.3rem;
  }

/* Change svg image stroke property color */
/* https://stackoverflow.com/questions/22289214/how-to-change-stroke-color-in-svg-image-on-hover-event */
/* https://stackoverflow.com/questions/4502633/how-to-affect-other-elements-when-one-element-is-hovered */
.modal_arrow_prev:hover #svg_img_prev {
    stroke: #ff7d1a;
}

.modal_arrow_next:hover #svg_img_next {
    stroke: #ff7d1a;
}
    
}
/*------------------grid area names---------------------------*/

.header_container {
    grid-area: header_container;
}

.header_logo {
    grid-area: header_logo;
}

.logo {
    grid-area: logo;
}

.header_cont {
    grid-area: header_cont;
}

.hamburger_icon {
    grid-area: hamburger_icon;
}

.header_logo_container {
    grid-area: header_logo_container;
}

.logo_icon {
    grid-area: logo_icon;
}

.purchase {
    grid-area: purchase;
}

.cart_container {
    grid-area: cart_container;
}

.product_order {
    grid-area: product_order;
}

.cart_icon_1 {
    grid-area: cart_icon_1;
}

.purchase_logo_container {
    grid-area: purchase_logo_container;
}

.purchase_logo {
    grid-area: purchase_logo;
}

.header_modal_cart {
    grid-area: header_modal_cart;
}

.header_navLinks {
    grid-area: header_navLinks;
}


.header_navLinks {
    grid-area: header_navLinks;
}
        
.header_navLinks_collections {
    grid-area: header_navLinks_collections;
}
        
.header_navLinks_men {
    grid-area: header_navLinks_men;
}
        
.header_navLinks_women {
    grid-area: header_navLinks_women;
}
        
.header_navLinks_about {
    grid-area: header_navLinks_about;
}
        
.header_navLinks_contact {
    grid-area: header_navLinks_contact;
}

.navigation {
    grid-area: navigation;
}

.imgo_gallery {
    grid-area: imgo_gallery;
}

.fullSize_image {
    grid-area: fullSize_image;
}

.img_product_1 {
    grid-area: img_product_1;
}

.img_product_2 {
    grid-area: img_product_2;
}

.img_product_3 {
    grid-area: img_product_3;
}

.img_product_4 {
    grid-area: img_product_4;
}

.thumbnail_images_container {
    grid-area: thumbnail_images_container;
}

.thumbnail_image_1 {
    grid-area: thumbnail_image_1;
}

.img_product_thumbnail_1 {
    grid-area: img_product_thumbnail_1;
}

.thumbnail_image_2 {
    grid-area: thumbnail_image_2;
}

.img_product_thumbnail_2 {
    grid-area: img_product_thumbnail_2;
}

.thumbnail_image_3 {
    grid-area: thumbnail_image_3;
}

.img_product_thumbnail_3 {
    grid-area: img_product_thumbnail_3;
}

.thumbnail_image_4 {
    grid-area: thumbnail_image_4;
}

.img_product_thumbnail_4 {
    grid-area: img_product_thumbnail_4;
}

.main_container {
    grid-area: main_container;
}

.company_name {
    grid-area: company_name;
}

.product_name_title {
    grid-area: product_name_title;
}

.product_description {
    grid-area: product_description;
}

.prices {
    grid-area: prices;
}

.current_price {
    grid-area: current_price;
}

.discount {
    grid-area: discount;
}

.percentage {
    grid-area: percentage;
}

.percentage_icon {
    grid-area: percentage_icon;
}

.old_price {
    grid-area: old_price;
}

.quantity_container {
    grid-area: quantity_container;
}

.less_products {
    grid-area: less_products;
}

.product_quantity {
    grid-area: product_quantity;
}

.more_products {
    grid-area: more_products;
}

.order_container {
    grid-area: order_container;
}

.order {
    grid-area: order;
}

.cart_icon_2 {
    grid-area: cart_icon_2;
}

.text {
    grid-area: text;
}

.attribution {
    grid-area: attribution;
}

