/* 3rd modal */
.modal_imgo_gallery {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 0;
    margin: 0;
    z-index: 1;
    background-color: hsl(219, 9%, 45%);
    background-color: hsla(219, 9%, 45%, 0.85);
}

.modal > * {
    border: 2px solid green;
}

.modal {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        'modal_close_icon modal_close_icon'
        'modal_close_icon_hover modal_close_icon_hover'
        'modal_fullSize_image modal_fullSize_image'
        'modal_prev modal_next'
        'modal_thumbnail_images_container modal_thumbnail_images_container';
    gap: 1rem;
}

.modal_close_icon {
    cursor: pointer;
    justify-self: center;
    align-self: end;
    width: 2.5rem;
    margin: 5rem 0 0 47rem;
}

.modal_close_icon_hover {
    display: none;
    cursor: pointer;
    justify-self: center;
    align-self: end;
    width: 2.5rem;
    margin: 5rem 0 0 76rem;
}


.modal_fullSize_image {
    justify-self: center;
    align-self: center;
}

.modal_prev {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-areas:
       'modal_arrow_prev';
    margin: -28rem 21rem 28rem 0;
    justify-self: end;
    width: 14%;
}

.modal_arrow_prev {
    padding: 1.2rem;
    background-color: var(--clr-white);
    border-radius: 50%;
    justify-self: center;
    cursor: pointer;
}

.modal_arrow_prev_hover {
    display: none;
    padding: 1.2rem;
    background-color: var(--clr-white);
    border-radius: 50%;
    justify-self: center;
    cursor: pointer;
}

.modal_next { 
    display: grid;
   grid-template-columns: 1fr;
   grid-template-areas:
       'modal_arrow_next';
    margin: -28rem 0 28rem 21rem;
    justify-self: start;
    width: 14%;
}

.modal_arrow_next {
    padding: 1.2rem;
    background-color: var(--clr-white);
    border-radius: 50%;
    justify-self: center;
    cursor: pointer;
}

.modal_arrow_next_hover {
    display: none;
    padding: 1.2rem;
    background-color: var(--clr-white);
    border-radius: 50%;
    justify-self: center;
    cursor: pointer;
}

.modal_thumbnail_images_container {
    width: 37%;
    display: inline-flex;
    gap: 2rem;
    justify-items: center;
    justify-self: center;
    align-self: start;
    margin: -4rem 0 0 0;
}

.border_line_m {
    border-radius: 1.4rem;
    border: 3.5px solid var(--clr-orange);
}

.active_m {
    opacity: 0.5;
}

/*-----grid areas---------*/

.modal_close_icon {
    grid-area: modal_close_icon;
}

.modal_fullSize_image {
    grid-area: modal_fullSize_image;
}

.modal_prev {
    grid-area: modal_prev;
}

.modal_arrow_prev {
    grid-area: modal_arrow_prev;
}

.modal_next {
    grid-area: modal_next;
}

.modal_arrow_next {
    grid-area: modal_arrow_next;
}

.modal_thumbnail_images_container {
    grid-area: modal_thumbnail_images_container;
}